<%= form_for(@quarterly_budget) do |f| %>
  <% if @quarterly_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quarterly_budget.errors.count, "error") %> prohibited this quarterly_budget from being saved:</h2>

      <ul>
      <% @quarterly_budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :quarter %><br>
    <%= f.text_field :quarter %>
  </div>
  <div class="field">
    <% if QuarterlyBudget.any? %>
      <% value = QuarterlyBudget.last.current_balance %>
    <% else %>
      <% value = nil %>
    <% end %>
    <%= f.label :start_balance %><br>
    <%= f.text_field :start_balance, :value => value %>
  </div>
  <div class="field">
    <% if @quarterly_budget.end_balance == nil %>
      <% value = nil %>
    <% else %>
      <% value = @quarterly_budget.end_balance %>
    <% end %>
    <%= f.label :end_balance %><br>
    <%= f.text_field :end_balance, :value => value %>
  </div>
  <div class="actions">
    <%= f.submit "Update Quarterly Budget"%>
  </div>
<% end %>
