<h1>Listing All Quarterly Budgets</h1>

<table id="table1" class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3">Year-Q#</th>
      <th class="col-sm-3">Starting Balance</th>
      <th class="col-sm-3">Ending Balance</th>
      <th class="col-sm-3" colspan="3">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @quarterly_budgets.each do |quarterly_budget| %>
      <%= content_tag_for(:tr, quarterly_budget) do %>
        <td><%= quarterly_budget.to_s %></td>
        <td><%= number_to_currency(quarterly_budget.start_balance.to_f) %></td>
        <td><%= number_to_currency(quarterly_budget.end_balance.to_f) %></td>
        <td><%= link_to 'Show', quarterly_budget %></td>
        <td><%= link_to 'Edit', edit_quarterly_budget_path(quarterly_budget) %></td>
        <td><%= link_to 'Destroy', quarterly_budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Quarterly Budget', new_quarterly_budget_path %>
