<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><i> (optional)</i><br>
    <%= f.text_area :description, :size => "50x4" %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.select(:type_id, @types) %>
    <% if @types.blank? %>
      <p class="missing-data-warning">Must create a quarterly budget first since none are currently available!</p>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div><br>
  <div class="actions">
    <%= f.submit "Update Item" %>
  </div>
<% end %>
