<h1>Listing All Expenditure Types</h1>

<table id="table1" class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-4">Description</th>
      <th class="col-sm-2"></th>
      <th class="col-sm-2"></th>
      <th class="col-sm-2" colspan="2">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @settings_types.each do |settings_type| %>
      <%= content_tag_for(:tr, settings_type) do %>
        <td><%= settings_type.description %></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Show', settings_type %></td>
        <td><%= link_to 'Edit', edit_settings_type_path(settings_type) %></td>
        <td></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Type', new_settings_type_path %>
