<%= form_for(@expenditure) do |f| %>
  <% if @expenditure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expenditure.errors.count, "error") %> prohibited this expenditure from being saved:</h2>

      <ul>
      <% @expenditure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :quarterly_budget_id %><br>
    <% if @quarterly_budget %>
      <%= f.hidden_field :quarterly_budget_id, :value => @quarterly_budget.id %>
      <%= @quarterly_budget.to_s %>
    <% else %>
      <%= f.select(:quarterly_budget_id, @quarterly_budgets) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br>
    <%= f.text_field :purchase_date, :value => (@expenditure.purchase_date.blank? ? '' : @expenditure.purchase_date.strftime('%b %d, %y')), class: 'date_field' %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.select(:type_id, @types) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :size => "50x4" %>
  </div>
  <div class="field">
    <%= f.label :refunded %><br>
    <%= f.check_box :refunded %>
  </div>
  <div class="actions">
    <%= f.submit "Update New Type"%>
  </div>
<% end %>
