<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= yield(:head) %>
  </head>
  <body>
    <% unless flash.empty? %>
      <div class="info">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      </div>
    <% end %>

      <%= yield %>
      <br><br><br><br><br>
    <% if mobile_device? %>
      <%= link_to "Go to Desktop Site", :mobile => 0 %>
    <% else %>
      <%= link_to "Go to Mobile Site", :mobile => 1 %>
    <% end %>
    </div>
  </body>
</html>
